.wrap_promotion_coupon {
  width: 100%;
  display: table;
}

.list_famous {
  margin: 0;
}

.list_product .list_famous .link_item {
  padding: 0;
}

.wrap_notice .k_content {
  background-color: #f6f6f6;
  min-height: 500px;
}

@media all and (max-height: 600px) {
  .wrap_notice .k_content {
    min-height: 300px;
  }
}

/* ng-modules 토스트 여백 오버라이딩 css */
.toast .content {
  padding: 0 20px;
}

/* 사다리이벤트 */

.layer_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.layer_container.dimmed {
  background-color: rgba(0, 0, 0, 0.6)
}

.layer_container:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -0.05em
}

.layer_container.behind {
  background-color: transparent
}

.layer_container .outer_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto
}

.layer_container .inner_wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.layer_container .content_wrapper {
  display: table-cell;
}

.layer_container .content {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.width-100 {
  width: 100%
}

/*** checkbox & radio button ***/
.wrap-inp {
  display: inline-block;
  vertical-align: top
}

.wrap-inp:after {
  display: block;
  clear: both;
  content: ''
}

.wrap-inp .box-check,
.wrap-inp .box-radio {
  float: left
}

.box-check,
.box-radio {
  display: flex;
  position: relative;
  margin-left: 24px;
  align-items: center
}

.box-check:first-child,
.box-radio:first-child {
  margin-left: 0
}

.wrap-inp.align-vertical .box-check,
.wrap-inp.align-vertical .box-radio {
  float: none;
  margin: 12px 0 0
}

.wrap-inp.align-vertical .box-check:first-child,
.wrap-inp.align-vertical .box-radio:first-child {
  margin: 0
}

.box-check .inp-g,
.box-radio .inp-g {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0 none;
  opacity: 0.01
}

.box-check .lab-g,
.box-radio .lab-g {
  display: block;
  position: relative;
  height: 20px;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  cursor: pointer
}

.os_windows .box-check .lab-g,
.os_windows .box-radio .lab-g {
  line-height: 19px
}

.box-check .lab-g .ico-talk,
.box-radio .lab-g .ico-talk {
  margin-right: 8px
}

.box-check .inp-g:disabled+.lab-g,
.box-radio .inp-g:disabled+.lab-g,
.box-check .inp-readonly+.lab-g,
.box-radio .inp-readonly+.lab-g {
  cursor: no-drop;
  pointer-events: none
}

.box-check .inp-readonly,
.box-radio .inp-readonly {
  pointer-events: none
}

.box-check .inp-g:checked+.lab-g .ico-check {
  background-position: -400px -90px
}

.box-check.check-partial .lab-g .ico-check,
.box-check.check-partial .inp-g:checked+.lab-g .ico-check {
  background-position: -400px -120px
}

.box-check.check-partial .inp-g:disabled+.lab-g .ico-check,
.box-check.check-partial .inp-g:checked:disabled+.lab-g .ico-check,
.box-check.check-partial .inp-readonly+.lab-g .ico-check,
.box-check.check-partial .inp-readonly:checked+.lab-g .ico-check {
  background-position: -400px -150px
}

.box-check .inp-g:disabled+.lab-g .ico-check,
.box-check .inp-readonly+.lab-g .ico-check {
  background-position: -400px -30px
}

.box-check .inp-g:checked:disabled+.lab-g .ico-check,
.box-check .inp-readonly:checked+.lab-g .ico-check {
  background-position: -400px -60px
}

.box-focused .ico-check,
.box-focused .ico-radio {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px
}

.box-radio .inp-g:checked+.lab-g .ico-radio {
  background-position: -430px -90px
}

.box-radio .inp-g:disabled+.lab-g .ico-radio,
.box-radio .inp-readonly+.lab-g .ico-radio {
  background-position: -430px -30px
}

.box-radio .inp-g:checked:disabled+.lab-g .ico-radio,
.box-radio .inp-readonly:checked+.lab-g .ico-radio {
  background-position: -430px -60px
}

.list-inp .inp-row:after {
  display: block;
  clear: both;
  content: ''
}

.list-inp .inp-row+.inp-row {
  padding-top: 12px
}

.list-inp .inp-row:first-child {
  padding-top: 6px
}

.list-inp .inp-row:last-child {
  padding-bottom: 6px
}

.list-inp .inp-row:only-child {
  padding: 0
}

.cke_editable {
  font-size: 14px;
  line-height: 1;
}

.cu-video-aspect-ratio {
  position: relative;
  height: 0;
  padding-bottom: 56%;
}

.cu-video-aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
}

.cke_editable p,
._contents p {
  margin: 14px 0;
}

._contents hr {
  border: 0px;
  border-top: 1px solid #ccc;
}

/* 판매자센터 에디터 스타일 공통건 */
.table-bordered{width:100%;height:100%;margin-bottom:20px;border:1px solid #ddd}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th{padding:8px;line-height:1.42857143;border:1px solid #ddd;vertical-align:top}
._contents a{color:#0076FF;text-decoration:none}


.layer_container.no_overflow .outer_wrapper {
  overflow-x: visible!important;
  overflow-y:  visible!important;
}

/* 상품상세개편 배포후 삭제예정 */
.cont_search .tit_search, .inner_search .tit_search{padding:14px 0 0 15px;font-weight:normal;font-size:13px;line-height:15px;color:#aaa}/* 2020-09-02 수정 */

/* 신고하기레이어 : h.css에 있는지 확인하고 삭제*/
.layer_blind{width:290px}
.layer_blind .popup_body{padding:30px 20px 20px}
.layer_blind .tit_item{display:block;padding:0;color:#333;font-weight:normal;font-size:16px;line-height:19px;letter-spacing:-0.02em;text-align:center}/* 2020-08-24 수정 */
.layer_blind .txt_item{margin-top:12px;color:#999;line-height:18px;letter-spacing:-0.02em}
.layer_blind .list_rule{margin-top:12px;padding:6px 15px 12px;background-color:#f6f6f6}
.layer_blind .tit_rule{display:block;margin-top:6px;font-size:13px;color:#333;line-height:17px;font-weight:normal}
.layer_blind .txt_rule{font-size:13px;color:#999;line-height:17px}
.layer_blind .link_item{color:#0076ff}
.layer_blind .wrap_btn{overflow:hidden;border-top:1px solid #e9e9e9;font-size:15px;color:#262626;text-align:center}/* 2020-08-24 수정 */
.layer_blind .wrap_rule{margin:2px 0 10px}
.layer_blind .wrap_rule .tit_rule{margin-top:10px}
/* 2018-07-04 추가 끝 */
.layer_blind .wrap_btn .btn_g{float:left;width:50%;height:50px;line-height:51px}/* 2020-08-24 추가 */
.layer_blind .wrap_btn_one .btn_g{width:100%}/* 2020-08-24 추가 */
