@charset "utf-8";




















/* 2020-06-12 추가 시작 */
@media only screen and (device-width:375px) 
and (device-height:812px) 
and (-webkit-device-pixel-ratio:3), 
only screen and (device-width : 414px) 
and (device-height : 896px) 
and (-webkit-device-pixel-ratio : 3), 
only screen and (device-width : 414px) 
and (device-height : 896px) 
and (-webkit-device-pixel-ratio : 2),
only screen and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3),
only screen and (device-width: 428px) 
and (device-height: 926px) 
and (-webkit-device-pixel-ratio: 3) {
  body, html{min-height:100vh} /* 2020-07-01 수정 */
  .btn_top, .btn_shotcut{bottom:calc(constant(safe-area-inset-bottom) + 15px);bottom:calc(env(safe-area-inset-bottom) + 15px)}
  .fixed_btn .btn_top, .fixed_btn .btn_shotcut{bottom:calc(constant(safe-area-inset-bottom) + 65px);bottom:calc(env(safe-area-inset-bottom) + 65px)}
  .kakaoWrap,.menu_category .inner_menu{padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom)}/* 2020-09-24_v4 수정 */
  .foot_commerce{bottom:constant(safe-area-inset-bottom);bottom:env(safe-area-inset-bottom)}
  .foot_commerce:after{position:absolute;left:0;right:0;bottom:-34px;height:34px;background-color:#fafafa;content:''}
  .fixed_btn .foot_commerce{bottom:calc(constant(safe-area-inset-bottom) + 50px);bottom:calc(env(safe-area-inset-bottom) + 50px)}
  .wrap_btn_detail, .layer_container, .fixed_util, .toast,.layer_bottom{bottom:constant(safe-area-inset-bottom) !important;bottom:env(safe-area-inset-bottom) !important}/* 2020-09-23_v4 수정 */
  .wrap_btn_detail:after, .layer_container:after, .fixed_util:after, .toast:after, .layer_bottom:after{position:absolute;left:0;right:0;bottom:-34px;height:34px;background-color:#fff;content:''}/* 2020-09-23_v4 수정 */
}
/* 2021-01-05 수정 */