@charset "utf-8";
.box_vod{padding-top:0} /* 익일배포로 인한 hotfix.css 임시 추가 배포후 삭제예정 */
.box_vod .play_vod{margin-top:0} /* 익일배포로 인한 hotfix.css 임시 추가 배포후 삭제예정 */

/* 2021-04-28 추가 시작 */
.comp_slide.slide_classify{height:68px}
.comp_slide .list_classify{overflow-x:auto;margin-bottom:-40px;padding:0 10px 40px 5px;font-size:0;white-space:nowrap;-webkit-overflow-scrolling:touch}
.comp_slide .list_classify li{display:inline-block;padding:4px 2px 4px 0;vertical-align:top}
.list_classify .txt_tab{padding-bottom:14px}
/* // 2021-04-28 추가 끝 */

/* 2021-04-28_v2 추가 시작 */
.comp_slide .list_favorite{overflow-x:auto;margin-bottom:-40px;padding:0 10px 40px 16px;font-size:0;white-space:nowrap;-webkit-overflow-scrolling:touch}
.comp_slide .list_favorite li{display:inline-block;padding:2px 2px 0 0;vertical-align:top}
/* // 2021-04-28_v2 추가 끝 */

.bunch_best .link_viewall{margin-top:25px}/* 2021-04-28_v3 추가 */

/* 썸네일비율 레거시 */
/*
.card_talkdeal .thumb_card{padding-bottom:72.466%}
.bunch_deal_new .card_talkdeal .info_label{width:60px;height:60px}
.bunch_deal_new .sub_talkdeal .has_review .wrap_thumb{width:108px}
.bunch_deal_new .sub_talkdeal .has_review .link_thumb{padding-bottom:73.2%}
.wrap_mart .card_talkdeal .thumb_card{padding-bottom:72.466%}
*/