@import url(./reset.css);
@import url(./icon.css);

html,
body {
  font-size: 80%;
  font-family: 'Noto Sans KR';
  font-weight: 300;
}

dl,
li,
menu,
ol,
ul {
  list-style: none;
}

:root {
  --header-h: 3.5rem;
}
