.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11000;
  width: 100%;
  min-height: 44px;
  text-align: center;
  background-color: #fff;
}

.logo {
  overflow: hidden;
  margin: 0 96px;
}

.logo_txt {
  display: block;
  overflow: hidden;
  position: relative;
  height: 44px;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  font-weight: 700;
  color: #000;
  vertical-align: top;
}

.logo_img {
  display: block;
  width: 112px;
  height: auto;
  margin: 0 auto;
  padding-top: 6px;
}
